<h1>Editing bug</h1>

<%= render 'form' %>

 <div style="margin-left:22%">
    <%= link_to "Update Bug","#",:onclick=>"javascript:document.getElementById('createbugform').submit()",:class=>"button red"%>
    <%= link_to 'Back', :back,:class=>"button blue" %>
  </div>
 
