<h1>New bug</h1>

<%= render 'form' %>
 <div style="margin-left:22%">
    <%= link_to "Create Bug","#",:onclick=>"javascript:document.getElementById('createbugform').submit()",:class=>"button red"%>
    <%= link_to 'Back', bugs_path,:class=>"button blue" %>
  </div>

